#
# Systemd service configuration file for the sbf-converter service. 
# Under Unix/Linux servers that use Systemd, it's a great 
# way to configure the nodeapi service.
# 
# Usage: 
# systemdctl status sbf-converter
# systemdctl start sbf-converter
# systemdctl stop sbf-converter
# systemdctl restart sbf-converter
#

[Unit]
Description=sbf-converter

[Service]
User=webmaster
Group=webmaster
WorkingDirectory=/home/webmaster/sbf-converter
Environment=NODE_ENV=production
ExecStart=/usr/local/bin/ts-node /home/webmaster/sbf-converter/server.ts
Restart=always

[Install]
WantedBy=multi-user.target



